
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Raleway:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main{
    display: grid;
    justify-items: center;
    padding: 0 2rem 10rem;
   
}

.container{
    max-width: 60.8rem;

}

.title{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;
    text-align: center;
    margin: 3.2rem auto;
    color: #333333;
}



.form-control{
    width: 60.8rem;
    display: flex;
    margin-bottom: 3.3rem;

    @media only screen and (max-width: 37rem) {
        width: 100vw;
    }
}
.input{
    width: 100%;

    padding: 2rem 1.2rem;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 12px;
    margin-right: 2.5rem;
    &:focus{
        outline: none;
    }
}

.btn{
    padding: 2rem 4rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

  
}

.btn-primary{
    background-color: #2F80ED;
    box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
    color: #FFFFFF;
}




.todo__list{
    word-break: break-word;

    &-item{
        display: flex;
        align-items: center;
       &:not(:last-child){
           margin-bottom: 2.7rem;
       }


       & .checkbox{
           height: 2.4rem;
           width: 2.4rem;
           margin-right: 7px;

           &:checked ~ .label{
               text-decoration: line-through;
           }
          
       }

       & .label{
        max-width: 59rem;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        // word-break: break-word;
       }
    }
}


.nav{
   width: 100%;
   border-bottom: 1px solid #BDBDBD;
   margin-bottom: 1.8rem;


    &-list{
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-wrap: wrap;
    
        &__item{
            padding: 1.8rem;
            text-decoration: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
            
            &.active{
                border-bottom:  2px solid blue;
            }


         
        }
    }
}


.notFound{
    text-align: center;
    font-family: Montserrat;
    font-size: 4rem ;
    text-transform: uppercase;
    color: red;
}